@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,300;1,900&display=swap');
:root {
    --bg-body: #fafbfd;
    --bg-content: #ffffff;
    --bg-hover: #f4f4f4;
    --color-txt: #172b4d;
    --nav-height: #70px;
    --shadow: 0 0 30px 0 rgb(82 63 105 /5%);
    --border-radius: 1.5rem;
}

.dark {
    --bg-body: #151515;
    --bg-content: #242526;
    --bg-hover: #dcdcdc;
    --color-txt: #f4f4f4;
    --bg-hover: #868687ad;
}

.title1 {
    font-family: 'Roboto', sans-serif;
}

.card img {
    height: 100px;
    width: 100px;
    margin-left: 1rem;
    transform: 0.5s;
}

.card .card-title {
    margin-top: 10px;
}

.card:hover img {
    transform: scale(1.05) rotate(-10deg);
}

.img-in-cart {
    width: 20px;
    height: 20px;
}

.overflow-scroll {
    overflow: scroll;
}

body {
    background: radial-gradient(/*     farthest-corner at 40px 1250px, */
    #38dbff, #417fd7, #b03ab2);
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f0f, #f00, #00f);
    backdrop-filter: blur(12px);
    clip-path: circle(20% at 10% 10%);
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f0f, #f00, #00f);
    background: linear-gradient( to bottom right, rgba(255, 0, 255, 0.1), rgba(255, 0, 0, 0.4), rgba(0, 0, 255, 0.5));
    backdrop-filter: blur(10px);
    z-index: -1;
    clip-path: circle(30% at right 70%);
}

.card {
    background: linear-gradient( to bottom right, rgba(255, 255, 255, 0.6), rgba(233, 233, 233, 0.1));
    backdrop-filter: blur(12px);
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    border-left: 1px solid rgba(255, 255, 255, 0.6);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.searchbar {
    background: linear-gradient( to bottom right, rgba(255, 255, 255, 0.6), rgba(242, 242, 242, 0.213));
    backdrop-filter: blur(80px);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    top: 0;
    z-index: 20;
    display: flex;
    margin: 10px 0px;
    padding: 5px;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border-radius);
}

.searchbar::after {
    opacity: 0.1;
    filter: blur(1px);
    -moz-filter: blur(1px);
    -webkit-filter: blur(1px);
    -o-filter: blur(1px);
}

.main {
    overflow: scroll;
}

.sidebar {
    overflow: scroll;
}